extends ./index.pug

block partial
  .container
    ul
      each activity in activityArr
        li
          .row
            .col.s12.m6
              .card.deep-orange.darken-2
                .card-content.white-text
                  span.card-title #{activity.name}
                  p
                .card-action
                  a(href='activities/'+activity.id) See Analysis
