extends index.pug

block partial
  #index-banner.section.no-pad-bot
    .container
        br
        br
        h1.header.center Strava Graphs
        .row.center
          h5.header.col.s12.light Charts and graphs to help you analyze your activity data
        .row.center
          a(href="/auth")
            img(src="img/ConnectWithStrava.png" href="/auth")
        br
        br